<?xml version="1.0" encoding="UTF-8"?>
<root>
    <!--This is my comments-->
    <rootDir>C:\ftpData</rootDir>
    <root_user>root</root_user>
    <root_pass>root</root_pass>
    <users>
        <user>
            <username>root</username>
            <password>admin</password>
        </user>

    </users>
</root>